html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #fff8e8;
	font-family: Arial;
}

p, h2, h3, h4, h5, h6, a{
	font-family: Arial;
}

@media only screen and (max-width:620px) {
	.menu, .main, .right {
		width: 100%;
	}
}

		/* ------------------- HEADING ------------------- */

.imagetext { /* BOTTOM HEADING TEXT */
	color: white;
	position: absolute;
	top: 1.3%;
	left: 31.3%;
	font-family: Brush Script MT, Arial;
	font-size: 200%;
}

.imagetext2 { /* CENTER HEADING TEXT */
	color: #c40350;
	position: absolute;
	top: 1.1%;
	left: 31%;
	font-family: Brush Script MT, Arial;
	font-size: 200%;
}

.imagetext3 { /* TOP HEADING TEXT */
	color: pink;
	position: absolute;
	top: 0.8%;
	left: 30.9%;
	font-family: Brush Script MT, Arial;
	font-size: 200%;
}

.heading img{
	height: 150px;
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}


.heading_line {
	background-color: pink;
	height: 10px;
	margin-bottom: 55px;
	width: 100%;
	border-bottom: 2px solid #c40350;
	border-radius: 0px 0px 5px 5px;
}

		/* ------------------- NAVIGATION MENU ------------------- */

.navmenu {
	float: left;
	width: 20%;
	padding: 0px 0px 0px 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	font-family: Brush Script MT, Arial;
	font-size: 200%;
}
.navmenu a {
	background-image: linear-gradient(to right, #fff8e8, pink, pink, pink, pink, pink, #fff8e8);
	padding: 5px;
	margin-top: 5px;
	display: block;
	width: 100%;
	color: #c40350;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	text-decoration: none;
	border-radius: 10px;
	font-family: Brush Script MT, Arial;
}

.navmenu a:hover{
	background-image: linear-gradient(to right, white, pink, white);
	color: white;
	text-decoration: none;
	font-family: Brush Script MT, Arial;
	text-shadow: 2px 2px #c40350;
}

		/* ------------------- MIAN PAGE CONTENT ------------------- */

.main {
	margin-top: 10px;
	float: left;
	width: 60%;
	padding: 0px 25px;
}

.main h2 {
	color: pink;
	background-color: white;
	text-shadow: 2px 2px #c40350;
	text-align: center;
	border-radius: 5px;
	border-left: 2px solid #c40350;
	border-right: 2px solid #c40350;
}

#home_mainC{
	color: black;
	font-size: 120%;
	background-color: white;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	color: black;
	padding: 10px;
}

#home_mainC a {
	text-decoration: none;
	color: #c40350;
}

#home_mainC img {
	height: 25%;
	width: 32%;
	margin-left: 5px;
	border-top: 5px solid pink;
	border-bottom: 5px solid #c40350;
	border-radius: 5px;
}

.about_mainC {
	font-size: 120%;
	background-color: white;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	color: black;
	padding: 10px;
}

.about_mainC a {
	text-decoration: none;
	color: #c40350;
}

.about_mainC img {
	height: 30%;
	width: 37%;
	border-top: 5px solid pink;
	border-bottom: 5px solid #c40350;
	border-radius: 5px 5px 5px 5px;
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

#A_img_war_gal {
	text-align: center;	
}

.contact_table {
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	width: 100%;
	
}

.contact_table tr {
	background-color: white;
}

.contact_form {
	text-align: center;
	font-size: 120%;
}

th {
	border-bottom: 2px solid #c40350;
}

form {
	background-image: linear-gradient(to right, #f9fdff, white, white, white, #f9fdff);
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
}

	/* -------------------------------- RECIPES -------------------------------- */

.Rec_Faworki {
	background-color: white;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	color: black;
}

.Rec_Faworki a {
	text-decoration: none;
	color: #c40350;
}

.Rec_Faworki p {
	font-size: 125%;
}

.Rec_Faworki ul {
	font-size: 125%;
}

.Rec_Faworki ol {
	font-size: 125%;
}

.Rec_Faworki h4 {
	text-shadow: 1px 1px #c40350;
	border: 1px solid pink;
	border-radius: 100px;
	margin-left: 22.5px;
	margin-right: 22.5px;
	text-align: center;
	color: pink;
	background-color: #fff8e8;
	font-size: 125%;
}

.Rec_Faworki img {
	margin-left: 3%;
	width: 20%;
	height: 17.5%;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	float: left;
	margin-right: 3%;
}

.faworki_recipe_all {
	background-color: white;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	color: black;
	text-align: center;
}

#faworki_recipe1 img {	
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	width: 25%;
	height: 20%;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#faworki_recipe2 img {
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	width: 25%;
	height: 20%;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

	/* -------------------------------- PASTRY -------------------------------- */

.Products_Pastry {
	background-color: white;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	color: black;
}

.Products_Pastry a {
	text-decoration: none;
	color: #c40350;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
.Products_Pastry ul li {
	list-style-type: none;
	margin-bottom: 10%; /* dodać */
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
.Products_Pastry h4 {
	text-shadow: 1px 1px pink;
}

.Products_Pastry img {
	width: 20%;
	height: 17.5%;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	margin-right: 3%;
	float: left;
}

	/* -------------------------------- SWEETS -------------------------------- */

.Products_Sweets {
	background-color: white;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	color: black;
}

.Products_Sweets a {
	text-decoration: none;
	color: #c40350;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
.Products_Sweets ul li {
	list-style-type: none;
	margin-bottom: 10%; /* dodać */
}
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
.Products_Sweets h4 {
	text-shadow: 1px 1px pink;
}

.Products_Sweets img {
	width: 20%;
	height: 17.5%;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	margin-right: 3%;
	float: left;
}

#p_sweets_h3 {
	text-align: center;
	color: pink;
	font-family: Brush Script MT, Arial;
	text-shadow: 1px 1px #c40350;	
	font-size: 200%;
	background-color: #fff8e8;
	border: 1px solid #c40350;
	border-radius: 100px;
	margin-bottom: 0px;
	margin-left: 30%;
	margin-right: 30%;
}

#p_pastry_h3 {
	text-align: center;
	color: pink;
	font-family: Brush Script MT, Arial;
	text-shadow: 1px 1px #c40350;	
	font-size: 200%;
	background-color: #fff8e8;
	border: 1px solid #c40350;
	border-radius: 100px;
	margin-bottom: 0px;
	margin-left: 30%;
	margin-right: 30%;
}

.Back_to_top1 a {
	text-align: center;
	border: 1px solid pink;
	border-radius: 100px;
	padding: 2px;
	font-family: Brush Script MT, Arial;
	font-size: 150%;
	text-shadow: 1.5px 1.5px pink;
	background-color: #fff8e8;
	margin-left: 30%;
	margin-right: 30%;
	display: block;
}

.Back_to_top1 a:hover {
	color: pink;
	text-shadow: 1.5px 1.5px #c40350;
	border: 1px solid #c40350;
}

.Back_to_top2 a {
	text-align: center;
	border: 1px solid pink;
	border-radius: 100px;
	padding: 2px;
	font-family: Brush Script MT, Arial;
	font-size: 150%;
	text-shadow: 1.5px 1.5px pink;
	background-color: #fff8e8;
	margin-left: 30%;
	margin-right: 30%;
	display: block;
}

.Back_to_top2 a:hover {
	color: pink;
	text-shadow: 1.5px 1.5px #c40350;
	border: 1px solid #c40350;
}

.Order_Button a {
	text-align: center;
	border: 1px solid pink;
	border-radius: 100px;
	padding: 2px;
	font-family: Brush Script MT, Arial;
	font-size: 150%;
	text-shadow: 1.5px 1.5px pink;
	background-color: #fff8e8;
	margin-left: 30%;
	margin-right: 30%;
	display: block;
}

.Order_Button a:hover {
	color: pink;
	text-shadow: 1.5px 1.5px #c40350;
	border: 1px solid #c40350;
}

#A_sign_off {
	text-align: right;
}

#C_submit_button button{
	text-align: center;
	border: 1px solid pink;
	border-radius: 100px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: Brush Script MT, Arial;
	font-size: 125%;
	text-shadow: 1.5px 1.5px pink;
	background-color: #fff8e8;
	margin-bottom: 10px;
	margin-top: 0px;
	color: #c40350;
}

#C_submit_button button:hover{
	text-align: center;
	border: 1px solid #c40350;
	border-radius: 100px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: Brush Script MT, Arial;
	font-size: 125%;
	text-shadow: 1.5px 1.5px #c40350;
	background-color: #fff8e8;
	margin-bottom: 10px;
	margin-top: 0px;
	color: pink;
}

		/* ------------------- LOGO ------------------- */

.right {
	margin-top: 10px;
	margin-right: 1px;
	background-color: lightgray;
	float: left;
	width: 19%;
	text-align: center;
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
}

.right img {
	width: 100%;
	height: 40%;
	border-radius: 5px;
}

.footLOGOtext img {
	border-top: 2px solid pink;
	border-bottom: 2px solid #c40350;
	border-radius: 5px;
	height: 5%;
	width: 12%;
	margin-top: 2px;
}

		/* ------------------- FOOTER ------------------- */

.copy {
	background-color: white;
	text-align: center;
	padding: 5px;
	margin-top: 7px;
	bottom: 0;
	border-top: 1px solid pink;
	border-bottom: 2px solid #c40350;
	font-size: 85%;
}


